Work_Experience/Aricent_Group/C#/Web Services/TRT_WebService/TRT_BL/Web References/TaxiEmpDetails/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllChargeCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllChargeCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllChargeCodesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllocatedChargeCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllocatedChargeCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllocatedChargeCodesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllChargeCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllChargeCodes" />
  </wsdl:message>
  <wsdl:message name="GetAllChargeCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllChargeCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllocatedChargeCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllocatedChargeCodes" />
  </wsdl:message>
  <wsdl:message name="GetAllocatedChargeCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllocatedChargeCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetails" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetAllChargeCodes">
      <wsdl:input message="tns:GetAllChargeCodesSoapIn" />
      <wsdl:output message="tns:GetAllChargeCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllocatedChargeCodes">
      <wsdl:input message="tns:GetAllocatedChargeCodesSoapIn" />
      <wsdl:output message="tns:GetAllocatedChargeCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input message="tns:GetEmployeeDetailsSoapIn" />
      <wsdl:output message="tns:GetEmployeeDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllChargeCodes">
      <soap:operation soapAction="http://tempuri.org/GetAllChargeCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllocatedChargeCodes">
      <soap:operation soapAction="http://tempuri.org/GetAllocatedChargeCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllChargeCodes">
      <soap12:operation soapAction="http://tempuri.org/GetAllChargeCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllocatedChargeCodes">
      <soap12:operation soapAction="http://tempuri.org/GetAllocatedChargeCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeDetails">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.203.114.166/itappsdev/ProjectsWebService/ProjectService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.203.114.166/itappsdev/ProjectsWebService/ProjectService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>